markdown_ext: .md
base_url: /
site_dir: /var/www/.
# Refer to http://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
date_format: %m/%d/%Y
math_delimiter: $
# Sitewide dynamic metadata
blog_author: Samuel Collard
blog_title: Sam Collard's Work Blog
twitter_username: SWCollard
github_username: swcollard
blog_bio: My name is Sam Collard, I am an SDE working at Amazon.com
