markdown_ext: .md
base_url: /
site_dir: /var/www/.
# Refer to http://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
date_format: %m/%d/%Y
math_delimiter: $
# Sitewide dynamic metadata
blog_author: Your Name
blog_title: Blog name
twitter_username: username
github_username: username
blog_bio: A small sentence about yourself
